################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
node_modules
/node_modules
/.vs
/package-lock.json
/package.json
# /server/CommuniPrep.db
/server/videos